#gameContainer{
    text-align: center;
}

#gameBoard{
    border: 3px solid;
}

#scoreText{
    font-family: "consolas", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
}

#resetBtn{
    font-family: cursive, 'Courier New', Courier, monospace;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}